.place__like {
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
  align-self: center;
  border: none;
}

.place__like:hover {
  opacity: 0.5;
}
